In [1]:
#set can't take duplicate values
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [4]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [5]:
#length of sets
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

In [8]:
#set constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [10]:
#to check item present in set
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [11]:
#adding in sets
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [12]:
#to add from another set to one
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'apple', 'papaya', 'pineapple', 'cherry', 'mango'}

In [13]:
# add elements of list to sets
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

In [14]:
#removing of elemnt
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [15]:
#another method to remove
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [16]:
#to remove laast element
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [17]:
#clearing of set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [18]:
#deleting of sets
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [19]:
#union of set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 'a', 'c', 1, 2, 3}

In [20]:
#intersection of set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [23]:
#Keep All, But NOT the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'google', 'cherry'}

In [24]:
#The symmetric_difference() method will return a new set, 
#that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'google', 'cherry'}