In [1]:
li = (1)
tup = (1,)
print(type(li))
print(type(tup))

<class 'int'>
<class 'tuple'>

In [44]:
tup = (1, 6, 3, 5, 4, 2)
print(type(tup))
#how to convert tuple to list
li = list(tup)
print(type(li))
li[1] = 10
li.append(9)
li.sort()
print(li)
tup = tuple(li)

print(tup)
del tup

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 5, 9, 10]
(1, 2, 3, 4, 5, 9, 10)

In [ ]:
#joining two tuples
#doubt kya fyda hai maam iska jb immutable hi hai toh hum final vgara bhi toh lga skte hai toh iska kya fyda
tup1 = (1, 2, 3)
tup2 = (5, 6, 7)
tup3 = tup1 + tup2

print(tup3)

In [ ]:
#count of particular vairable

tup1 = (1, 2, 3, 4, 2, 1, 6, 8, 9, 2)
print(tup1.count(2))

In [ ]:
tup1 = (1, 2, 3, 4, 2, 1, 6, 8, 9, 2)
print(tup1.index(4))

In [ ]:
#SET

In [ ]:
s1 =  {1,2,3,4}
print(type(s1))

In [ ]:
print(s1)

In [ ]:
dict = {1:"hello", 2:"say"}
print(type(dict))

In [ ]:
s1 = {1,2,3,4,5}
s1.add(7)
print(s1)

In [ ]:
#if i want to addd no. of elements at a time
s1 = {1,2,8,4,5}
s1.update({6,9,10})
print(s1)

In [ ]:
s1.remove(4)
print(s1)

In [ ]:
s1.discard(8)
print(s1)

In [ ]:
s1.pop()
print(s1)

In [ ]:
s1.pop()
print(s1)

In [ ]:
s1 = {1,5,2,6,7}
s2 = {7,2,9,4,1}
print(s1)
print(s2)
#s3 = s1.union(s2)
s3 = s1.intersection(s2)
print(s3)

In [ ]:
s1 = {1,5,2,6,7}
s2 = {7,2,9,4,1}
print(s1)
print(s2)
s3 = s1.difference(s2)
print(s3)

In [ ]:
s1 = input("enter a string :")

s2 = s1[::-1]
if(s1==s2):
    print("palidromic")
else:
    print("Not palindromic")

In [ ]:
#to apply comas after a word in string
str = input("enter a string")
li = str.split(" ")
print(li)

In [3]:
#to find odd place charater in string and add in new var
str = input("enter a string")
#li = []
str2 = ""
for x in range(len(str)):
    
    if (x%2!=0):
        str2 = str2 + str[x]
        #li.append(str[x])

#to change li in str
#str1 = "".join(li)
print(str2)

enter a stringhi this is mee
iti sme

In [4]:
str = input("enter a string: ")
new = str[1::2]
print(new)

enter a string: dgjkjhg
gkh

# DICTIONARY

In [5]:
dict = {1:"abc", 2:"dfg", 3:"dfaf", 4:"fiod"}
print(type(dict))

<class 'dict'>

In [6]:
print(dict)

{1: 'abc', 2: 'dfg', 3: 'dfaf', 4: 'fiod'}

In [7]:
for x in dict:
    print(x)

1
2
3
4

In [ ]:
for x in dict:
    print(dict[x])

In [8]:
for x in dict.values():
    print(x)

abc
dfg
dfaf
fiod

In [ ]:
for x in dict.keys():
    print(x)

In [ ]:
for x,y in dict.items():
    print(x,y)

In [ ]:
if 2 in dict:
    print("yes")
else:
    print("no")

In [9]:
print(len(dict))

4

In [10]:
dict.pop(3)
print(dict)

{1: 'abc', 2: 'dfg', 4: 'fiod'}

In [13]:
dict1 = dict.copy()
print(dict1)
dict[5] = "namis"
print(dict)

{1: 'abc', 2: 'dfg', 4: 'fiod', 5: 'namis'}
{1: 'abc', 2: 'dfg', 4: 'fiod', 5: 'namis'}

In [14]:
dict2 = {1:{"name":"ssss","age":18}, 2:{"name":"sads","age":38}, 3:{"name":"sggd","age":28}}
print(dict2)

{1: {'name': 'ssss', 'age': 18}, 2: {'name': 'sads', 'age': 38}, 3: {'name': 'sggd', 'age': 28}}

In [16]:
record1 = {"name":"sumit", "marks":57, "age":21}
record2 = {"name":"amit", "marks":60, "age":20}
record3 = {"name":"ajit", "marks":87, "age":22}
parentdict = {"first":record1, "second":record2, "third":record3}
print(parentdict)

{'first': {'name': 'sumit', 'marks': 57, 'age': 21}, 'second': {'name': 'amit', 'marks': 60, 'age': 20}, 'third': {'name': 'ajit', 'marks': 87, 'age': 22}}

In [17]:
for x,y in parentdict.items():
    print(x,y)

first {'name': 'sumit', 'marks': 57, 'age': 21}
second {'name': 'amit', 'marks': 60, 'age': 20}
third {'name': 'ajit', 'marks': 87, 'age': 22}

In [19]:
for x in parentdict:
    print(parentdict[x]["age"])

21
20
22

In [22]:
print(parentdict["first"]["name"])

sumit

In [25]:
for x,y in parentdict.items():
    print(x + ":")
    for i in y:
        print(i,y[i])

first:
name sumit
marks 57
age 21
second:
name amit
marks 60
age 20
third:
name ajit
marks 87
age 22

In [35]:
str = input("enter the string :")
str1 = str.split('@')[0]
print(str1)
print(''.join(sorted(str1)))

enter the string :asdafd@fgks.com
asdafd
aaddfs

In [39]:
# write email like chitkara university

name = input("enter name :")
rollno = input("enter roll no. :")
year = input("enter year in which you entered :")
branch = input("enter branch :")

result = name.split(' ')[0] + rollno[-4:] + "." + branch + year[-2:]+ '@chitkara.edu.in'
print(result)

enter name :asd
enter roll no. :1342564
enter year in which you entered :2018
enter branch :cse
asd2564.cse18@chitkara.edu.in

In [40]:
a = {5,6,7}
a.add(5)
print(a)

{5, 6, 7}

In [46]:
#to delete last element of tupple
tup = ('e','x','y','c','d','h','k')
l1 = list(tup)
l1.pop()
tup = tuple(l1)
print(tup)

('e', 'x', 'y', 'c', 'd', 'h')

In [85]:
list1 = ["hello","1","3.4","byee"]
list2 = ["google","microsoft","tesla","facebook"]
list1.extend(list2)
print(list1)

['hello', '1', '3.4', 'byee', 'google', 'microsoft', 'tesla', 'facebook']

In [86]:
rn = input("enter roll no. : ")
var = list(rn)
print(var)
list1.extend(var)
print(list1)

enter roll no. : 123
['1', '2', '3']
['hello', '1', '3.4', 'byee', 'google', 'microsoft', 'tesla', 'facebook', '1', '2', '3']

In [87]:

list1.sort()
print(list1)

['1', '1', '2', '3', '3.4', 'byee', 'facebook', 'google', 'hello', 'microsoft', 'tesla']

In [102]:
tup = (1,2,8,4,94,3)
high = max(tup)
low = min(tup)
print(high,low)
list1 = list(tup)
list1.reverse()
tup = tuple(list1)
print(tup)
print("length of tupple is:",len(tup))
print(tup[::4])

94 1
(3, 94, 4, 8, 2, 1)
length of tupple is: 6
(3, 2)